<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Manager</th>
      <th>Company Average Score</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company.id) %></td>
        
        <td><%= company.user.name %></td>
        <td><%= company.avg_score %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
