<%= simple_form_for([@company, @review]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :score %>
  </div>

    <%= f.button :submit, class: "button is-primary is-medium is-rounded mv4" %>

<% end %>
