<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Company:</strong>
  <%= @review.Company %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @review.belongs_to %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>


<<div class="columns pt4 pb7">
  <div class="column is-7 is-offset-1">

    <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@review.created_at) %> ago</p>
    <h1 class="title is-2"><%= @review.title %></h1>

    <ul class="list pb4">
      <li class="inline-block f6 pr2"><%= job_type(@job.job_type) %></li>
      <li class="inline-block f6 ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
      <% if @job.remote_ok? %>
        <li class="inline-block f6 ph2"><i class="fa fa-wifi"></i> Remote Job</li>
      <% end %>
    </ul>

    <div class="content text-serif f4">
      <%= @review.description.html_safe %>
    </div>


  </div>

  <div class="column is-2 is-offset-1 has-text-centered">


    <h5 class="is-5 has-text-centered"><%= link_to @review.review_author %></h5>

    <div class="mt2 mb4">
    <%= link_to @company.url do %>
      <i class="fa fa-globe"></i>
    <% end %>
    </div>

    <div class="mt2 mb4">
    <%= link_to @company.url do %>
      <i class="fa fa-globe"></i>
    <% end %>
    </div>

   

    <% if current_user.try(:admin) || review_author(@review) %>
      <ul class="pv3">
        <li class="pv1 f6">Admin controls: </li>
        <li class="pv1 inline-block">
          <%= link_to 'View', @job, class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Edit', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
      </ul>
    <% end %>
  </div>
</div>
